


<!-- css not Updated for ForGot Password Assigned Some other Task 13-02-2023 -->


<div class="container">

    <div [class]="displayForgotPasswordDialogBoxStatus ? 'container makeBackgroundBlur' :'container' "> 


    <div class="headerContainer">
        <app-dropdowncomponent [dropDownIcondisplay]="'pi pi-sort-down'" [optinoalLabelInfo]="'name'"
            [FormGroup]="languageChangeForm" [name]="'selectedLang'"
            (selectedItemInfo)="selectedLanguageFromList($event)" [selectedItem]="languageSelecteFirst"
            [itemsList]="listOfLanguages"></app-dropdowncomponent>
    </div>
    <div class="bodyContainer">


        <div class="loginFormContiner">
            <div class="loginFormHeaderDiv">
                <img [src]="images.logo" class="loginFormHeader" alt="No Image">
            </div>
            <h1 class="loginText">LOGIN</h1>

            <div class="continueGoogleDiv">
                <img class="goggleLogoStyle" [src]="images.googleLogo" alt="No Image">
                <span class="continuWithGogleText"> Continue with Google </span>
            </div>

            <div class="orTextStyle">
                <span>or</span>
            </div>


            <div class="inputTagStyleDiv">
                <app-inputtag [typeOfInput]="'email'" [styleClass]="'p-input-icon-right'" [label]="'Email Address'"
                    [fieldIcon]="loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched  ?'pi pi-exclamation-circle' : ''"
                    [FormGroup]="loginForm" [placeholder]="'Email Address'" [name]="'email'"></app-inputtag>
                <app-errormessage [styles]="'p-error block'"
                    [ststusOfErrorMessage]="checkIfErrorOrNot('email',loginForm)"
                    [errorText]="'Please provide your email address'"></app-errormessage>
            </div>
            <div class="inputTagStyleDivPassWord">
                <app-inputtag [typeOfInput]="'password'" [label]="'password'" [styleClass]="'p-input-icon-right'"
                    [passwordId]="'mypassword'" [fieldIcon]="'pi pi-eye-slash'" [FormGroup]="loginForm" [placeholder]="'password'"
                    [name]="'password'"></app-inputtag>
                <app-errormessage [styles]="'p-error block FontStyle'"
                    [ststusOfErrorMessage]="checkIfErrorOrNot('password',loginForm)"
                    [errorText]="'Please provide your password'"></app-errormessage>
            </div>

           
                <div class="loginButtonStyle">
                    <app-buttontag [type]="'submit'" [buttonStyleClass]="'p-button-rounded loginButtonBackground'"
                        [label]="'Login With Email'" (buttonClickStatus)="signUpForm()"
                        [disabled]="this.loginForm.invalid && checkButtonClickedStatus === true ? true : false  "></app-buttontag>
               
                </div>

                    <!-- <app-buttontag [type]="'reset'" [buttonLoading]="isLoading" [label]="'Reset'" (buttonClickStatus)="loginForm.reset()" [disabled]="false"></app-buttontag> -->
           

            <div class="forgotPasswordTextStyle">
                        <a (click)="activateForgotPasswordDialogBox()" class="forgotPasswordText">Forgot Password?</a>
            </div>

            <div class="needAnAccountDiv">
                <p class="needAnAccountText"> Need an account? </p>
                <a class="signUpText" (click)="signUp()"> Sign Up</a>
            </div>


        </div>















    </div>

    <div class="footerContainer">
        <hr class="showHr">
    </div>

    </div>
</div>



<p-dialog header="Recover Password" [(visible)]="displayForgotPasswordDialogBoxStatus"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '28vw'}" [modal]="true" [draggable]="false">
    <div class="ForgotPasswordDialogBoxTextAndInputBoxStyle">
        <p class="dialogBoxTitle">Enter the email address associated with your account.</p>
        <div class="inputTagStyleDivForDialogBox">
            <app-inputtag [typeOfInput]="'email'" [styleClass]="'p-input-icon-right'"
                [fieldIcon]="forgotPasswordForm.get('userEmail')?.invalid && this.forgotPasswordForm.get('userEmail')?.touched  ?'pi pi-exclamation-circle' : ''"
                [FormGroup]="forgotPasswordForm" [name]="'userEmail'"></app-inputtag>
            <app-errormessage [styles]="'p-error block FontStyle'"
                [ststusOfErrorMessage]="checkResetPasswordEmailEnteredOrNot('userEmail',forgotPasswordForm)"
                [errorText]="'Please provide your email address.'"></app-errormessage>
        </div>
        <div class="dialogBoxButtonStyle">

            <app-buttontag [type]="'button'"
                [buttonStyleClass]="'p-button-secondary p-button-rounded p-button-text FontStyle'" [label]="' Cancel '"
                (buttonClickStatus)="cancelDialogBox()" [disabled]="false"></app-buttontag>

            <app-buttontag [type]="'submit'" [buttonStyleClass]="'p-button-rounded p-button-purple FontStyle'"
                [label]="' Send Reset Link '" (buttonClickStatus)="submitPasswordResetEmailId()"
                [disabled]="this.forgotPasswordForm.invalid && checkButtonClickedStatus === true ? true : false  "></app-buttontag>
        </div>
    </div>
</p-dialog>