<div class="container">
    <div class="bussinessHeader">
        <h1 class="fonth1">Businesses </h1>
        <div>
            <div class="buttonDiv" id="buttonDiv">
                <!-- (buttonClickStatus)="signUpForm()" -->
                <app-buttontag (click)="newForm.toggle($event)" [type]="'button'" [icontType]="'pi pi-angle-down'"
                    [iconPosition]="'right'" [buttonStyleClass]="'p-button-rounded'" [label]="'New'" [disabled]="false">
                </app-buttontag>
            </div>
            <div class="panelStyleDiv" id="MyId">
                <p-overlayPanel #newForm [showCloseIcon]="false"  [showTransitionOptions]="'0.2s'"
                    [style]="{height:'100px'}" styleClass="overlayNewButtonPanelOverWrite">
                    <ng-template pTemplate>
                        <ul class="dropDownUl">
                            <li (click)="openNewForm('New Business');newForm.hide()">New Business</li>
                            <li (click)="openNewForm('New Organization');newForm.hide()">New Organization</li>
                        </ul>
                    </ng-template>

                </p-overlayPanel>

            </div>

        </div>
    </div>
    <div class="dropdownAndSearchContainer">
        <div class="dropdownContainer">
            <app-dropdowncomponent  [dropDownIcondisplay]="'pi pi-sort-down'" [FormGroup]="fetchDataBasedGivenData" [name]="'businessCheck'" [optinoalLabelInfo]="'name'"
                [selectedItem]="selectBussinessType" [itemsList]="listOfServices"
                (selectedItemInfo)="checkTypeOfService($event)"></app-dropdowncomponent>
            <app-dropdowncomponent [dropDownIcondisplay]="'pi pi-sort-down'" [FormGroup]="fetchDataBasedGivenData" [name]="'activeStatusCheck'" [optinoalLabelInfo]="'name'"
                [selectedItem]="selectedTypeStatusDefaultValueInDropDown" [itemsList]="listOfDataToFetch"
                (selectedItemInfo)="checkType($event)"></app-dropdowncomponent>
            <app-dropdowncomponent [dropDownIcondisplay]="'pi pi-sort-down'" [FormGroup]="fetchDataBasedGivenData" [name]="'typesCheck'"
                [selectedItem]="selectBusinessOrOrganization" [itemsList]="listofTypeOfInformation" [optinoalLabelInfo]="'name'"
                (selectedItemInfo)="fetchParticularTypeInfo($event)"></app-dropdowncomponent>
        </div>
        <div class="searchContainer">
            <app-inputtag [typeOfInput]="'text'" [styleClass]="'p-input-icon-left'"  [fieldIcon]="'pi pi-search'"
                [FormGroup]="searchForm" (showSearchingText)="fetchSearchingText($event)" [placeholder]="'Search'"
                [name]="'searchText'" [enableCrossSymbol]="true" ></app-inputtag>
        </div>

    </div>
    <div *ngIf="showLoader === true" class="loaderImageDiv">
        <img class="loaderImage" src="https://stage.blendedsense.com/img/bs_logo.774cd192.gif" alt="noImage">
    </div>
    <div *ngIf="showLoader === false" class="pagenationContainer">
        <div class="pagenationContainerBorder">


            <p-table [value]="totalRecordsDataToDisplay" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                [(first)]="first" currentPageReportTemplate=" {first} to {last} of {totalRecords}">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="headingStyles11">Business</th>
                        <th class="headingStyles11">Type</th>
                        <th class="headingStyles11">Business Vertical</th>
                        <th class="headingStyles11"> </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-totalRecordsDataToDisplay>
                    <tr>
                        <td>
                            <div class="nameAndIconDiv">
                                <img class="typeIcon" [src]="totalRecordsDataToDisplay.icon" alt="No Image">
                                <p class="nameStyle">{{totalRecordsDataToDisplay.name}}</p>
                            </div>


                        </td>
                        <td>{{totalRecordsDataToDisplay.type}}</td>
                        <td>{{totalRecordsDataToDisplay.businessVertical}}</td>
                        <td class="editAndDeleteTd"><h1 class="editAndDeleteButtonStyle" (click)="editAndDeleteForm.toggle($event);activateEditAndDeleteDialogBox(totalRecordsDataToDisplay);">...</h1></td>
                    </tr>
                </ng-template>
            </p-table>


        </div>
    </div>

</div>
<div  id="editAndDeleteDiv">
    <p-overlayPanel #editAndDeleteForm  [showCloseIcon]="false"   [showTransitionOptions]="'0.2s'"
        [style]="{height:'100px'}" styleClass="overlayOvewrite">
        <ng-template pTemplate>
            <ul class="dropDownUlEdit">
                <li *ngIf="displayAddToMyBusinessStatus === false" (click)="editAndDeleteForm.hide();addBusinessToMyBusiness()"><div class="editFormDiv"><app-icon [iconStyle]="'pi pi-plus-circle editAndDeleteIcon'"></app-icon> <h1> Add to my businesses </h1> </div></li>
                <li (click)="editAndDeleteForm.hide();enableformForEdit()"><div class="editFormDiv"><app-icon [iconStyle]="'pi pi-file-edit editAndDeleteIcon'"></app-icon> <h1>Edit</h1> </div></li>
                <li (click)="editAndDeleteForm.hide();archeiveDataFromMyBusiness()"><div class="editFormDiv"><img [src]="this.editUserInfo.allData.status === 1 ? archieveIconPath : deleteRestore " alt="Noicon" class="archieveIcon" /> <h1 *ngIf="this.editUserInfo.allData.status === 1" class="h1TagInArchieve">Archive Business</h1> <h1 *ngIf="this.editUserInfo.allData.status !== 1" class="h1TagInActive">Active Business</h1> </div></li>
            </ul>
        </ng-template>
    
    </p-overlayPanel>


</div>

<div  class="testing">
    <p-dialog [(visible)]="displayBusinessForm" [closeOnEscape]="false" [draggable]="false" [modal]="true"
        [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw',height : '85vh'}">
        <ng-template pTemplate="header">
            <span  *ngIf="selectedFormType === 'New Business' "  class="dialogBoxHeadertext">Add Business</span>
            <span  *ngIf="selectedFormType === 'New Organization' "  class="dialogBoxHeadertext">Add Organization</span>
            <span *ngIf="editFormStatus === true " class="dialogBoxHeadertext">Edit Business</span>

        </ng-template>
        <form [formGroup]="addNewBusinessOrOrganization" class="dialogContainer">
            <div class="businessPartInDialogbox">
                <label *ngIf="selectedFormType === 'New Business' " class="labelForBusinesLogo">Business Logo</label>
                <label *ngIf="selectedFormType === 'New Organization' " class="labelForBusinesLogo">Organization Logo</label>
                <label *ngIf="editFormStatus === true " class="labelForBusinesLogo">Business Logo</label>

                <div class="imageContainer">

                    <div *ngIf="businessLogoPath === '' " id="businessLogoImage" class="imageStorage">
                    </div>
                    <div *ngIf="businessLogoPath !== '' ">
                        <img [src]="businessLogoPath" class="imageStorageAfterUpload" alt="noimage" />
                    </div>

                    <label for="businessimage" class="updateBusinessLogotext">Update</label>
                    <!-- <app-inputtag [typeOfInput]="'file'" [hideItem]="'makeItemHidden'" [passwordId]="'businessimage'" [FormGroup]="newForm" [name]="'businessLogo'"></app-inputtag>     -->
                    <input type="file" id="businessimage" (change)="fetchSelectedImage($event)" name="businessimage"
                        accept="image/jpg,image/jpeg,image/png" style="display:none">
                </div>
                <!-- business name input tag -->
                <div class="inputTagDiv">

                    <label *ngIf="selectedFormType === 'New Business' " for="businessName" class="businesslabel">Business Name *</label>
                       <label *ngIf="selectedFormType === 'New Organization' " for="businessName" class="businesslabel">Organization Name *</label>
                       <label *ngIf="editFormStatus === true " for="businessName" class="businesslabel">Business Name *</label>

                    <app-inputtag [typeOfInput]="'text'" [styleClass]="'p-input-icon-right'"
                        [label]="' Business Name * '"
                        [fieldIcon]="checkIfErrorOrNotInFormDialogBox('businessName1',this.addNewBusinessOrOrganization) === true ?'pi pi-exclamation-circle' : null"
                        [FormGroup]="addNewBusinessOrOrganization" [name]="'businessName1'"></app-inputtag>
                    <app-errormessage [styles]="'p-error block'"
                        [ststusOfErrorMessage]="checkIfErrorOrNotInFormDialogBox('businessName1',this.addNewBusinessOrOrganization)"
                        [errorText]="' Please provide valid business name '"></app-errormessage>
                </div>
                <!-- business Vertical Drop Down Part -->
                <div class="businessVerticalDiv">
                    <label for="dropdownBusinessVertical" class="businesslabel">Business Vertical *</label>
                    <app-dropdowncomponent [dropDownIcondisplay]="'pi pi-sort-down'" [itemsList]="listOfBusinessVertcials" [placeHolder]="'  '" [optinoalLabelInfo]="'name'"
                        
                        [FormGroup]="addNewBusinessOrOrganization" [name]="'businessVertical1'"></app-dropdowncomponent>
                    <app-errormessage [styles]="'p-error block'" 
                        [ststusOfErrorMessage]="checkIfErrorOrNotInFormDialogBox('businessVertical1',this.addNewBusinessOrOrganization)"
                        [errorText]="' Please select business vertical '"></app-errormessage>
                </div>
                <!-- Same above style applied for sbscription blend -->
                <div class="businessVerticalDiv">
                    <label for="dropdownBusinessVertical1" class="businesslabel">Subscription Blend *</label>
                    <app-dropdowncomponent [dropDownIcondisplay]="'pi pi-sort-down'" [itemsList]="listOfSubscriptionBlends" [placeHolder]="'  '" [optinoalLabelInfo]="'name'"
                        [FormGroup]="addNewBusinessOrOrganization" [name]="'subscriptionBlends1'">
                    </app-dropdowncomponent>
                    <app-errormessage [styles]="'p-error block'"
                        [ststusOfErrorMessage]="checkIfErrorOrNotInFormDialogBox('subscriptionBlends1',this.addNewBusinessOrOrganization)"
                        [errorText]="' Please select business vertical '"></app-errormessage>
                </div>

                <!-- primary Contact Part -->

                <div class="primaryContact">
                    <h1 class="pCheading">Primary Contact</h1>
                    <p class="pCParagraph"> This will be the primary owner of the business account. </p>
                    <div class="firstNameAndLastNameDiv">

                        <div class="inputTagDiv">
                            <label for="firstName" class="businesslabelFNLN">First Name *</label>
                            <app-inputtag [typeOfInput]="'text'" [styleClass]="'p-input-icon-right'"
                                [label]="' First Name * '" [readOnlyStatus]="readOnlyStatusValue" [passwordId]="'FN1'"
                                [fieldIcon]="checkIfErrorOrNotInFormDialogBox('firstName',this.addNewBusinessOrOrganization) === true ?'pi pi-exclamation-circle' : null"
                                [FormGroup]="addNewBusinessOrOrganization" [name]="'firstName'"></app-inputtag>
                            <app-errormessage [styles]="'p-error block'" 
                                [ststusOfErrorMessage]="checkIfErrorOrNotInFormDialogBox('firstName',this.addNewBusinessOrOrganization)"
                                [errorText]="' Please provide valid first name '"></app-errormessage>
                        </div>


                        <div class="inputTagDiv">
                            <label for="lastName" class="businesslabelFNLN">Last Name *</label>
                            <app-inputtag [typeOfInput]="'text'" [styleClass]="'p-input-icon-right'"
                                [label]="' Last Name * '" [readOnlyStatus]="readOnlyStatusValue" [passwordId]="'LN1'"
                                [fieldIcon]="checkIfErrorOrNotInFormDialogBox('lastName',this.addNewBusinessOrOrganization) === true ?'pi pi-exclamation-circle' : null"
                                [FormGroup]="addNewBusinessOrOrganization" [name]="'lastName'"></app-inputtag>
                            <app-errormessage [styles]="'p-error block'"
                                [ststusOfErrorMessage]="checkIfErrorOrNotInFormDialogBox('lastName',this.addNewBusinessOrOrganization)"
                                [errorText]="' Please provide valid first name '"></app-errormessage>
                        </div>


                    </div>

                    <div class="inputTagDiv">

                        <label for="EmailAddress" class="businesslabelEmailId">Email Address*</label>
                        <app-inputtag [typeOfInput]="'email'" [styleClass]="'p-input-icon-right'"
                            [label]="' Email Address* '" [readOnlyStatus]="readOnlyStatusValue" [passwordId]="'EMAIL1'"
                            [fieldIcon]="checkIfErrorOrNotInFormDialogBox('emailIdInfo',this.addNewBusinessOrOrganization) === true ?'pi pi-exclamation-circle' : null"
                            [FormGroup]="addNewBusinessOrOrganization" [name]="'emailIdInfo'"></app-inputtag>
                        <app-errormessage [styles]="'p-error block'"
                            [ststusOfErrorMessage]="checkIfErrorOrNotInFormDialogBox('emailIdInfo',this.addNewBusinessOrOrganization)"
                            [errorText]="' Please provide email '"></app-errormessage>
                    </div>


                </div>
                <!-- Operation Team Part -->
                <div class="operationsTeam">
                    <h1 class="oTheading">Operations Team</h1>
                    
                    <div class="multiselectDropDownDiv">
                        <app-multiselectdropdown  [listofitems]="listOfProducersInUserList"
                             [FormGroupName]="addNewBusinessOrOrganization" [selecteditems]="roleOfUser === 'producer' ? defaultSelectedItemList : ''" [idInfo]="'removingItemDisable'"
                            [FromControlerName]="'contentProducers'" [dropDownDiv]="'p-float-label'" [optionalLabelInfo]="'fullName'" [pointOfContactData]="addNewBusinessOrOrganization.get('businessList')?.value"  [placeHolder]="'Content Producer'"  ></app-multiselectdropdown>
                    </div>
                    <div class="multiselectDropDownDiv">
                        <app-multiselectdropdown  [listofitems]="listOfExectivesInUserList"
                             [FormGroupName]="addNewBusinessOrOrganization" [selecteditems]="roleOfUser === 'executive' ? defaultSelectedItemList : ''"
                            [FromControlerName]="'productionMangers'" [dropDownDiv]="'p-float-label'" [optionalLabelInfo]="'fullName'"  [placeHolder]="'Production Manager'"  ></app-multiselectdropdown>
                    </div>
                    <div class="multiselectDropDownDiv">
                        <app-multiselectdropdown  [listofitems]="listOfEditorsInUserList"
                             [FormGroupName]="addNewBusinessOrOrganization" [selecteditems]="roleOfUser === 'editor' ? defaultSelectedItemList : ''"
                            [FromControlerName]="'editorsList'" [dropDownDiv]="'p-float-label'" [optionalLabelInfo]="'fullName'"  [placeHolder]="'Editor'"  ></app-multiselectdropdown>
                    </div>
                <div class="multiselectDropDownDiv">
                    <div class="styleDropDown">
                    <app-dropdowncomponent [itemsList]="listOfProducersInUserList" [placeHolder]="'  '" [displayLabel]="'Point of Contact'" [Id]="'dropdownPOC'" [optinoalLabelInfo]="'fullName'"
                        [FormGroup]="addNewBusinessOrOrganization" [dropDownIcondisplay]="'pi pi-chevron-down'" [dropDownDiv]="'p-float-label'" [name]="'businessList'"></app-dropdowncomponent>
                </div>
            </div>     
               
            <div class="businessStatusDiv" *ngIf="editFormStatus === true">
                <label for="dropdownStatusDiv" class="businesslabel"> Status </label>
                <app-dropdowncomponent [dropDownIcondisplay]="'pi pi-sort-down'" [itemsList]="listOfDataToFetch"
                     [optinoalLabelInfo]="'name'" [FormGroup]="addNewBusinessOrOrganization"
                    [name]="'statusTypeValue'"></app-dropdowncomponent>
                <app-errormessage [styles]="'p-error block'"
                    [ststusOfErrorMessage]="checkIfErrorOrNotInFormDialogBox('statusTypeValue',this.addNewBusinessOrOrganization)"
                    [errorText]="' Please select status '"></app-errormessage>
            </div>




                </div>
             
        </div>
            
        </form>

        <ng-template pTemplate="footer">
            <div class="dialogBoxButtons">

                <div class="cancelButton">
                    <app-buttontag [type]="'button'" [buttonStyleClass]="'p-button-secondary p-button-text '"
                        [label]="' Cancel '" (buttonClickStatus)="cancelDialog()" [disabled]="false"></app-buttontag>
                </div>
                <!-- [disabled]="this.forgotPasswordForm.invalid && checkButtonClickedStatus === true ? true : false " -->

                <div class="saveButtonDiv" *ngIf="editFormStatus !== true">
                    <app-buttontag [type]="'submit'" [loadingStatus]="loadingStatusInfo"   [buttonStyleClass]="'p-button-rounded p-button-purple '"
                        [label]="' Save '" (buttonClickStatus)="uploadNewFormData()" [disabled]="checkFormValidAndButtonClicked()" ></app-buttontag>      
                </div>
                <div class="saveButtonDiv" *ngIf="editFormStatus === true">
                    <app-buttontag [type]="'submit'" [loadingStatus]="loadingStatusInfo"
                        [buttonStyleClass]="'p-button-rounded p-button-purple '" [label]="' Update '"
                       (buttonClickStatus)="updateBusinessUserData()"   [disabled]="checkFormValidAndButtonClicked()"></app-buttontag>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>


<!-- <ngx-spinner></ngx-spinner> -->