button {
    margin: 15px;
    width: 100%;
    height: 40px;
    background-color: #8066FF;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}